# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code settings (если ты используешь VS Code)
.vscode/

# Pytest cache
.pytest_cache/

# Allure results
allure-results/

# Jupyter Notebook checkpoints (на всякий случай)
.ipynb_checkpoints/

# MyPy, Pylint, coverage и др.
.mypy_cache/
.coverage
htmlcov/
.cache/
*.cover
.tox/
nosetests.xml
coverage.xml

# macOS системные файлы
.DS_Store

# Логи
*.log

# IDE
.idea/
*.iml
